

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: big;
}

h1,
h2 {
    color: #0066cc;
    border-bottom: thin dotted #888888;
}

h1 {
    font-family: "Emblema One", sans-serif;
    font-size: 300%;
}

h2 {
    font-size: 120%;
    font-weight: normal;
}


